.wrapper-sign {
  min-width: 100vh;
  min-height: 100vh;
  .form {
    height: 80%;
    width: 40%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
