:root {
  --dark-primary-color: #05141c;
  --dark-secondary-color: #1b2730;
  --button-primary-color: #4f84eb;
  --button-secondary-color: #334d6e;
  --dark-login-primary-color: #112645;
  --dark-login-secondary-color: #547597;
  --dark-color: #fff;
  --dark-second-cl: #ccc;
  --br-primary: 0.6rem;
  --bd-primary-color: #ccc;
  --bd-focus-color: #5b90ce;
  --color-link: #039be5;
  --bg-second: #1b2730;
  --bg-second-dark-theme: #1b2730;
  --bg-second-light-theme: #e3ebf1;
  // --theme: #05141c;
}
.bg-main {
  background-color: inherit;
}
.br-primary {
  border-radius: 1rem;
}

.left {
  display: flex;
  justify-content: start;
  align-items: center;
  float: left;
}
.bd-primary {
  border: 1px solid #3c71a3;
}

@keyframes scale {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.bg-second {
  background-color: var(--bg-second);
}
.avatar {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}
.cl-second {
  color: #797979;
}
.bold {
  font-weight: bold;
}

.fs-small {
  font-size: 0.6rem;
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
  width: 1rem;
}

.custom-scroll::-webkit-scrollbar {
  border-radius: 10px !important;
  background: linear-gradient(left, #0a51c5, #2c67c5) !important;
  box-shadow: inset 0 0 1px 1px #2f76bd !important;
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 1rem;
  border: 1px solid #aaa;
  background: #3a7ce7;
}

.reset {
  border: none;
  outline: none;
}
.reset:focus {
  border: none;
  outline: none;
}

.column {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.start {
  display: flex;
  justify-content: Start;
  align-items: center;
}
.active-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: #46ab5e;
  margin-right: 0.5rem;
}

.active-user::before,
.active-user::after {
  position: absolute;
  content: "";
  height: 3em;
  width: 3em;
  border: 1em solid #0060fa;
  border-radius: 50%;
  animation: loader_79178 2s linear infinite;
}

.active-user::after {
  opacity: 0;
  animation-delay: 1s;
}

@keyframes loader_79178 {
  0% {
    border: 1em solid #6ee48a;
    transform: scale(0);
    opacity: 1;
  }

  100% {
    border: 0 solid #6ee48a;
    transform: scale(1);
    opacity: 0;
  }
}

.hover-close:hover {
  color: #e53a45;
  scale: 1.4;
  transition: 0.4s;
  cursor: pointer;
}

.hover-bg:hover {
  filter: brightness(104%);
  transition: 0.4s;
  cursor: pointer;
}

.end {
  display: flex;
  justify-content: end;
  align-items: center;
}

.show-modal-chat-box {
  animation: showModalChatBox 0.4s ease-in-out forwards;
}

@keyframes showModalChatBox {
  from {
    // scale: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    // scale: 1;
    opacity: 1;
    width: 20rem;
    height: 25rem;
  }
}

.show-select-user-animation {
  animation: showSelectUserAnimation 0.4s ease-in-out forwards;
}

@keyframes showSelectUserAnimation {
  from {
    transform: translateX(10rem) rotate(360deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

.cl-second {
  color: #cccc;
}

.hidden {
  display: none;
}
.hover-border {
  border: 1px solid transparent;
}
.hover-border:hover {
  border-color: #0060fa;
}

@keyframes showModalTop {
  from {
    opacity: 0;
    top: -40%;
  }
  to {
    opacity: 1;
    top: 40%;
  }
}

.hover-active:hover {
  color: #3398db;
  scale: 1.2;
  transition: 0.4s;
  cursor: pointer;
}

.hover-bg-light:hover {
  cursor: pointer;
  background: rgba(163, 204, 236, 0.8) !important;
}
.hover-bg-dark:hover {
  cursor: pointer;
  background: rgba(0, 96, 250, 0.2) !important;
}

.transition {
  transition: 0.4s;
}
